<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()" aria-label="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button class="logo" routerLink="">
        </button>
        <h1 class="example-app-name" *ngIf="!mobileQuery.matches" routerLink="">Versa</h1>

        <span class="example-spacer"></span>
        <!-- <p>{{username}}</p> -->
        <div *ngIf="user && !mobileQuery.matches">Welcome, {{user.name}}</div>
        <button mat-raised-button *ngIf="!isAuthenticated" class="toolbar-button" routerLink="/signup">SIGN UP</button>
        <button mat-raised-button *ngIf="isAuthenticated" class="toolbar-button" (click)="logout()">LOG OUT</button>
        <button mat-raised-button *ngIf="!isAuthenticated" color="primary" class="toolbar-button" routerLink="/login">LOG IN</button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav mode="over" [fixedInViewport]="mobileQuery.matches">
            <mat-nav-list class="mat-nav-list">
                <a mat-list-item routerLink="" class="mat-sidenav-list-item"><mat-icon class="mat-sidenav-icon">home</mat-icon>Home</a>
                <!-- <a mat-list-item routerLink="" class="mat-sidenav-list-item"><mat-icon class="mat-sidenav-icon">home</mat-icon>Home</a> -->
                <!-- <a mat-list-item routerLink="" class="mat-sidenav-list-item"><mat-icon class="mat-sidenav-icon">home</mat-icon>Home</a> -->
            </mat-nav-list>
        </mat-sidenav>


        <mat-sidenav-content class="mat-sidenav-content">
            <div class="center">
                <form novalidate *ngIf="!mobileQuery.matches" #downloadForm="ngForm" (ngSubmit)="onSubmit()">
                    <h3>{{form_msg}}</h3>

                    <p>
                    <mat-dialog-content>

                            <mat-form-field appearance="outline" class="search-input">
                                <mat-label>Enter the song</mat-label>
                                <input matInput name="name" [(ngModel)]="song.name" #name="ngModel" required>
                                <mat-error *ngIf="name.errors?.required || errMsg">Name of the song is required</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="singer-input">
                                <mat-label>Album</mat-label>
                                <input matInput name="album" [(ngModel)]="song.album" #album="ngModel">
                                <mat-hint>Enter the musician, band, album or movie to make the magic more powerful</mat-hint>
                            </mat-form-field>

                    </mat-dialog-content>

                    <mat-dialog-actions>
                        <button mat-raised-button type="submit" color="primary" class="search-btn">{{btn_name}}</button>
                    </mat-dialog-actions>
                    </p>

                    <p>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="format" [(ngModel)]="song.format" #format="ngModel" required>
                            <mat-radio-button class="example-radio-button" *ngFor="let format of formats" [value]="format">
                                {{format}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </p>

                </form>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
